@charset "utf-8";
.container {
    background-color: orangered;
    width: 800px;
    min-height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.item1 {
    background-color: yellow;
    width: 250px;
    height: 100px;
}

.item2 {
    background-color: skyblue;
    width: 250px;
    height: 200px;
    align-self: flex-end;
    order: 1;
}

.item3 {
    background-color: lime;
    width: 250px;
    height: 150px;
    order: -1;
}