@charset "utf-8";
* {
    font-size: 16px;
}

h1 {
    color: hsla(110, 50%, 30%, 1) !important;
}

.logo {
    color: hsla(20, 70%, 30%, 1);
}

#menu {
    background-color: #ff0;
    padding: 0;
    margin-left: 100px;
    list-style-type: none;
}

#menu {
    background-color: #fcf;
}